
#content {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#title {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#pic_box {
    width: 100%;
    height: 800px;
    border: #000 solid 5px;
    /* display: none; */
}

#radar {
    width: 100%;
    height: 800px;
    border: #000 solid 5px;
}

.pic_grid {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 240px;
    text-align: center;
}

.pic_grid_item {
    margin: auto;
}

#pic_box li {
    width: 464px;
    height: 219px;
    list-style-type: none;
    float: left;
    margin: 16px;
    border: 2px solid;
    border-color: #FFFFFF;
    position: relative
}

.dele_pic {
    top: 100px;
    position: absolute;
    left: 220px;
    width: 30px;
    height: 30px;
    display: none;
}

#tag_list {
    margin: 30px;
    width: 200px;
}

.select_tag {
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    background-color: deeppink;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.tag {
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    background-color: deepskyblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#bottom_btn_box {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.container {
    /* margin: 30px auto; */
    width: 100%;
    height: 800px;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.container svg {
    max-width: 100%;
}

.webs polygon,
.lines line {
    fill: white;
    fill-opacity: 0.5;
    stroke: gray;
    stroke-dasharray: 10 5;
}

.webs polygon:nth-child(odd) {
    fill: lightgray;
}

.areas polygon {
    fill-opacity: 0.5;
    stroke-width: 3;
}

.areas circle {
    fill: white;
    stroke-width: 3;
}

.texts text {
    text-anchor: middle;
}

#previous_btn {
    width: 200px;
    height: 40px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: white;
    display: none;
}

#next_btn {
    width: 200px;
    height: 40px;
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: white;
}
