/*select helper*/
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
/* For IE <= 11 */
select::-ms-expand {
   display: none;
}
select {
    width: 25%;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: rgb(221, 203, 175);
    border: none;
    border-bottom: 2px solid rgb(119, 113, 103);
    color:rgb(41, 35, 30);
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }
  select:hover,
  select:focus {
    color: rgb(41, 35, 30);
    background-color: white;
    border-bottom-color: #DCDCDC;
  }

h1{
    color:white;
}

.vis {
position: relative;
top:60px;
}

body{
background-color:black;
width: 1000px;
margin:auto;
}

video {
position: absolute;
z-index: 10;
}

.tooltip{
    position: absolute;
    pointer-events: none;
    border:1px dashed white;
    z-index: 15;
}

#select{
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
}
